@media(min-width:1200px){
    .heroh{
        height: 100vh;
    }
}
@media(max-width:1050px){
    .heroh img{
        height: 400px;

    }
}
@media(max-width:800px){
    .heroh{
        flex-direction: column;

    }
    .heroh-info{
        text-align: center;
        margin: 30px auto;
        width: auto;
    }
    .heroh-info .btn{
        align-self: center;
    }
}
@media(max-width:450px){
    .heroh-info{
        padding: 0;
        width: auto;
    }
    .heroh img{
      height: 300px;
    }
}
